@model List<WriterMessage>
@{
    ViewData["Title"] = "SenderMessageList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar-Admin Gönderilen mesajlar</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Alıcı</th>
                            <th>Konu</th>
                            <th>tarih</th>
                            <th>Sil</th>
                            <th>Mesaj detayı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.WriterMessageID</td>
                                <td>@item.ReceiverName</td>
                                <td>@item.Subject</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td><a asp-controller="AdminMessage" asp-action="AdminMessageDelete" asp-route-id="@item.WriterMessageID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a asp-controller="AdminMessage" asp-action="AdminMessageDetails" asp-route-id="@item.WriterMessageID" class="btn btn-outline-success">Mesaj detanıyı gör</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
